<div class="d-flex flex-column">
  <div class="d-flex justify-content-center">
    <h1>Bienvenido a LibraryGEST</h1>
  </div>
  <br>
  <div class="d-flex justify-content-center">
    <img
      src="assets/book-black-reading-educational-tool-symbol_icon-icons.com_54586.svg"
      alt=" "
      width="300"
      height="300"
    />
  </div>
  <br>
  <br>
  <div class="text-center">
    Desarrollado por:
    <h3>Héctor Company</h3>
  </div>
  <br>
  <div class="text-center">
    <a href="https://hectorco.github.io/CV/" target="_blank">Mi CV</a>
  </div>

  <div class="text-center">
    <a href="https://github.com/HectorCo/LibraryGEST" target="_blank"
      >Repositorio de LibraryGEST en Github</a
    >
  </div>
</div>
