<div class="d-flex flex-column">
  <div class="text-center"><h1>Bienvenido a LibraryGEST</h1></div>
  <div class="text-center">
    <img src="/src/app/shared/images/Logo Héctor Company.jpg" />
  </div>
  <div class="text-center">
    Desarrollado por:
    <h3>Héctor Company</h3>
  </div>
  <div class="text-center">
    <a href="https://hectorco.github.io/CV/" target="_blank">Mi CV</a>
  </div>
  <div class="text-center">
    <a href="https://github.com/HectorCo/LibraryGEST" target="_blank">Github</a>
  </div>
</div>
