<div class="panel-heading">
  <h1>{{ libro.titulo }}</h1>
</div>

<div class="panel-body">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">Titulo:</div>
        <div class="col-md-6">
          <input
            type="text"
            [disabled]="!editando"
            placeholder="{{ libro.titulo }}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">Referencia:</div>
        <div class="col-md-6">
          <input
            type="text"
            [disabled]="!editando"
            placeholder="{{ libro.referencia }}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">Autor:</div>
        <div class="col-md-6">
          <input
            type="text"
            [disabled]="!editando"
            placeholder="{{ libro.autor }}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">Disponibilidad:</div>
        <div class="col-md-6">
          <input
            type="text"
            name=""
            [disabled]="!editando"
            placeholder="{{ libro.estado }}"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <button type="button" class="btn btn-danger" (click)="borrarLibro()">
            Borrar
          </button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn bg-success" (click)="editar()">
            Editar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" [routerLink]="['/products']">
  Atrás
</button>
